{% extends 'doctor/base.html' %}

{% block content %}


<div class="row">
<div class="col-lg-6">
    <div class="card">
                  <div class="card-body">
                    <div class="row alig n-items-start">
                      <div class="col-8">
                        <h1>APPOINTMENTS</h1>
                          <a href="/doc_appointmentlist">Show</a>
                      </div>
                    </div>
                  </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card">
                  <div class="card-body">
                    <div class="row alig n-items-start">
                        <h1>PATIENTS</h1>
                        <a href="/doc_patientlist">Show</a>
                      </div>
                    </div>
                  </div>
    </div>
</div>

{% endblock %}