<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E- Hospitality</title>
  <link rel="stylesheet" href="{% static '/assets/css/styles.min.css' %}" />
</head>
<body>

</body>
</html>


<div class="container mt-5">
  <h2 class="mb-4">Doctors</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
      {% for doctor in doctors %}
      <tr>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.department }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


